<%= render "shared/header" %>
<div class="mail-wrapper">

  <div class="title-content">
    <h2 class="title">Level</h1>
    <p>異なる考えの存在を可視化したい</p>
  </div>

  <div class="search-form">
    <p class="search-title">テーマを検索する</p>
      <div class="search-input">
        <input type="text" class="search-text">
        <input type="submit" class="search-submit">
      </div>
  </div>

  <div class="thema-wrapper">
    <div class="thema-content">
      <h3 class="category">カテゴリー</h3>
      <div class="thema">
        <h3 class="main-thema">テーマ</h3>
        <p class="sub-thema">A or B</p>
      </div>
    </div>

    <div class="thema-content">
      <h3 class="category">カテゴリー</h3>
      <div class="thema">
        <h3 class="main-thema">テーマ</h3>
        <p class="sub-thema">A or B</p>
      </div>
    </div>

    <div class="thema-content">
      <h3 class="category">カテゴリー</h3>
      <div class="thema">
        <h3 class="main-thema">テーマ</h3>
        <p class="sub-thema">A or B</p>
      </div>
    </div>
    
</div>

</div>
<%= render "shared/footer" %>