<%= render "shared/header" %>
<div class="theme-show">

  <div class="theme-box">
    <h1 class="main-theme-show">テーマ</h1>
    <ul class="sub-theme-show">
      <li class="sub-blue">ネコ</li>
      <li class="sub-or">or</li>
      <li class="sub-red">キトゥン</li>
    </ul>
  </div>

  <div class="post-box">
    <ul class="post-menu">
      <li class="sub-blue">ネコ<li>
      <li class="sub-or">中立</li>
      <li class="sub-red">キトゥン</li>
    </ul>
    <div class="comment red">
        <div class="comment-info">
          <h3 class="user-name">ユーザー名</h3>
          <p class="created-at">11:11:11</p>
        </div>
        <p>nekoneko<br>aaa</p>
      </div>
  </div>

  <div class="content-box">
    <div class="menu-box">
      <h2 class="sort-text">並べ替え</h2>
      <div class="sort-menu">
      </div>
    </div>  

    <div class="comment-box">
      <div class="comment red">
        <div class="comment-info">
          <h3 class="user-name">ユーザー名</h3>
          <p class="created-at">11:11:11</p>
        </div>
        <p>nekoneko<br>aaa</p>
      </div>
      <div class="comment blue">
      nekoneko<br>aaa
      </div>
      <div class="comment pur">
      nekoneko<br>aaa
      </div>
    </div>
  </div>
</div>

