* {
  box-sizing: border-box;
}

.top-page-header{
  width: 100%;
  
}

.theme-header{
  height: 50px;
  width: 100%;
}

.header-content{
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background-color:#252a34;
  border-bottom: 3px solid #4a5261;
  display: flex;
  align-items: center;
  z-index: 101;
  position: fixed
}

.move-top{
  color:white;
  display: block;
  padding-left: 15px;
  width: 50%;
}

.top-link{
  color:white;
  display: block;
  width: 25%;
  font-size: 20px;
}

.btn{
  color: white;
  text-decoration: none;
}

.nav{
  margin-right: 20px;
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}



.theme-new{
  font-size: 20px;
  color: white;
}

