<%=render "shared/header"%>

<div class="mypage-main">
  <div class="user-info-main">
    <div class="user-info-wrap">
      <div class="user-info">
        <div class="user-icon">
          <%= image_tag "test-user-icon.png"%>
        </div>
        <h1 class="mypage-user-name"><%=@user.name%></h1>
      </div>
    </div>
  </div>
  <div class="user-post-wrap">
    <div class="user-post-tab">
      <div class="theme-tag">
        <p>投稿テーマ一覧<p>
      </div>
      <div class="comment-tag"></div>
    </div>
    <div class="users-theme">
      <%= render partial: "shared/themes", collection: @themes%>
    </div>
  </div>
</div>