<header class='top-page-header'>
  <div class="logo">
    <a href="#" >level</a>
  </div>
  <div class="nav">
    <ul class='lists-right'>
       <%# <li>name</li> /%> 
       <%# <li>ログアウト</li>/%>
        <li><a href="#" class="login">ログイン</a></li>
        <li><a href="#" class="sign-up">新規登録</a></li>
    </ul>
  </div>
</header>