* {
  box-sizing: border-box;
}

.mail-wrapper{
  background-color:#293657;
  height: 100vh;
}

.title-content{
  width: 100%;
  height: 300px;
  background-color:#293657;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 30px;
}

.search-form{
  width: 100%;
  height: 100px;
  background-color: #6CDD87;
  display: flex;
  align-items: center;
  flex-direction:column;
}

.search-title{
  margin-top: 20px;
  margin-bottom: 10px;
}

.thema-wrapper{
  padding: 20px;
  width: 100%;
  background-color: #293657;
}

.theme-content{
  background-color: white;
  height: 100px;
  padding:10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.main-theme{
  font-size: 25px;
}

.sub-theme-blue{
  padding: 10px 20px;
  background-color: #6E91EB;
}

.sub-theme-red{
  padding: 10px 20px;
  background-color:#EB9886;
}