.theme-show{
  background-color: #293657;
  width: 100%;
  /* height: 100vh; */
  padding: 20px;
}

.theme-box{
  width: 100%;
  height: 190px;
  background-color: #DCE3DE;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  border-radius: 10px;
}

.main-theme-show{
  font-size: 35px
}

.sub-theme-show{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.post-form{
  width: 100%;
  height: 150px;
  background-color: #DCE3DE;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
}

.post-menu{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-right: 10px;
  margin-right: 25px;
}

.sub-pur{
  background-color:  #b8adcf;
}

.sub-blue{
  background-color: #6E91EB;
}

.sub-red{
  background-color: #EB9886;
}

.sub-label{
  border-radius: 10px;
  margin-bottom: 3px;
}

.sub-li{
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
} 

.comment-post{
  width: 75%;
}

.post-text-area{
  width: 100%;
  resize: none;
  height: 70%;
  border-radius: 10px;
  font-size: 19px;
  border: 5px solid #767981;
  background-color: #f1f0f0;
  margin-bottom: 5px;
}

.content-wrap{
  display: flex;
} 

.menu-box{
  width: 25%;
  height: 300px;
  background-color: #DCE3DE;
  border-radius: 10px;
  margin-right: 25px;
}

.comment-box{
  width: 75%;
  height: 600px;
  border-radius: 10px;
  background-color: #DCE3DE;
  padding: 10px;
  overflow:auto;
}

.comment{
  width:100%;
  font-size: 19px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  line-height:20px;
  border: 5px solid#767981;
  background-color: #f1f0f0;
}

*[data-color="red"]{
  border: 5px solid #EB9886;
  background-color:#f3dbd5;
}

*[data-color="blue"]{
  border: 5px solid #6E91EB;
  background-color:#c9d3ee;
}

*[data-color="pur"]{
  border: 5px solid #b8adcf;
  background-color:#d9d0e9;
}

.sort-text{
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin: 20px;
}

.comment-info{
  display: flex;
  justify-content: space-between;
}